{# web/modules/custom/media_hub/templates/views-view-field--media-center--thumbnail.html.twig #}
<div class="media-hub-card media-hub-card--{{ media_bundle }}"
     data-media-id="{{ media_id }}"
     data-media-bundle="{{ media_bundle }}"
     data-media-name="{{ media_name|e('html_attr') }}"
     data-media-caption="{{ media_caption|e('html_attr') }}"
     data-media-download-url="{{ media_download_url }}"
     data-media-video-url="{{ media_video_url }}"
     data-media-file-size="{{ media_file_size }}"
     data-media-file-ext="{{ media_file_ext }}"
     tabindex="0"
     role="button"
     aria-label="{{ 'Preview: '|t }}{{ media_name }}">

  <div class="media-hub-card__thumb">
    {{ output }}

    {% if media_bundle == 'video' or media_bundle == 'remote_video' %}
      <span class="media-hub-card__badge media-hub-card__badge--play" aria-hidden="true">&#9654;</span>
    {% elseif media_bundle == 'document' %}
      <span class="media-hub-card__badge media-hub-card__badge--doc" aria-hidden="true">{{ media_file_ext ?: 'DOC' }}</span>
    {% elseif media_bundle == 'audio' %}
      <span class="media-hub-card__badge media-hub-card__badge--audio" aria-hidden="true">&#9834;</span>
    {% endif %}
  </div>

  <div class="media-hub-card__overlay" aria-hidden="true">
    <span class="media-hub-card__overlay-title">{{ media_name }}</span>
    {% if media_bundle == 'remote_video' %}
      <span class="media-hub-card__overlay-action media-hub-card__overlay-action--play">&#9654; {{ 'Play'|t }}</span>
    {% elseif media_download_url %}
      <a class="media-hub-card__overlay-action media-hub-card__overlay-action--download"
         href="{{ media_download_url }}"
         download
         onclick="event.stopPropagation()">
        &#8595; {{ 'Download'|t }}
      </a>
    {% endif %}
  </div>
</div>
